body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  background: #903374;
  background: linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -moz-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -webkit-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -ms-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -o-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
}

.text {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 600px;
  background-color: rgb(255, 255, 255);
  transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
}

.code {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: left;
}

.code-p {
  text-align: left;
  margin-top: 40px;
}
