body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: #903374;
  background: linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -moz-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -webkit-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -ms-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
  background: -o-linear-gradient(to right, rgb(144, 51, 116), rgb(214, 56, 19));
}

input[type="color"] {
  border: 0;
  background-color: #f2f2f2;
  outline: none;
  transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -webkit-transition: background-color 200ms ease-out;
}

.dark-mode input[type="color"] {
  background-color: #282C34;
}

.t-small {
  font-size: 0.8em;
}

.text {
  padding: 40px;
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #2c2f36;
  transition: opacity 200ms, background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: opacity 200ms, background-color 200ms ease-out, color 200ms ease-out;
  -moz-transition: opacity 200ms, background-color 200ms ease-out, color 200ms ease-out;
  -webkit-transition: opacity 200ms, background-color 200ms ease-out, color 200ms ease-out;
}

.code {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: left;
  transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -webkit-transition: background-color 200ms ease-out;
}

.code-p {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

.tl {
  text-align: left;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 40px;
}

ul {
  text-align: left;
  margin-top: 0;
}

.mode-indicator {
  text-align: right;
  margin: 0;
}

.dark-mode {
  background-color: #20232A;
  color: white;
}

.dark-mode .code {
  background-color: #282C34;
}

.grad {
background: #ff3232; /* Old browsers */
background: -moz-linear-gradient(left,  #ff3232 0%, #fff130 20%, #45ff30 35%, #28fff0 52%, #282cff 71%, #ff28fb 88%, #ff0094 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(20%,#fff130), color-stop(35%,#45ff30), color-stop(52%,#28fff0), color-stop(71%,#282cff), color-stop(88%,#ff28fb), color-stop(100%,#ff0094)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* IE10+ */
background: linear-gradient(to right,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0094',GradientType=1 ); /* IE6-9 */
}

.slider {
  height: 8px;
  width: 300px;
  max-width: 100%;
}
